/* Students: Our work lies in the js file. */

body { /* Visual */
  background: gray;
}

#display {
  font-family: monospace;
  font-size: 120px;
  color: green;

  /* Typography */
  text-align: center;

  /* Visual */
  background: black;
}

#wrapper {
  /* Box-model */
  width: 500px;

  /* Positioning */
  margin: 50px auto 0;
}

#buttons { /* Typography */
  text-align: center;
}

button {
  width: 100px;

  /* Box-model */
  height: 50px;
}
